{% extends 'catalog/base.html' %}       <!-- указывает, что этот шаблон использует структуру базового шаблона, наследует base.html.-->

{% block title %}Каталог товаров{% endblock %}      <!-- задает заголовок окна браузера.-->

{% block content %}     <!-- наполняет секцию из базового шаблона.-->
    <h2> Каталог товаров </h2>
    {% if products %}       <!--проверяет, существует ли список products и содержит ли он элементы, если список пуст, блок {% else %} выполнится.-->
    <ul>        <!-- начало немаркированного списка (без цифр, точек ....)-->
        {% for product in products %}       <!-- итерируется по списку products, доступ к каждому элементу через переменную product.-->
            <li>{{ forloop.counter }}.{{ product.name }} — {{ product.price }} руб.</li>        <!-- встроенная переменная forloop.counter для нумерации товаров,
                                                                                              с отображением элемента списка из словаря product на новой строке.-->
        {% endfor %}        <!-- завершает блок цикла.-->
    </ul>
        {% else %}      <!-- задает альтернативный сценарий, если условие не выполнено.-->
        <p> Товары отсутствуют </p>
        {% endif %}         <!--завершает блок условия.-->
{% endblock %}
<!-- -->